.payment-icons {
    padding: 2rem 15px;
    border-top: 1px solid theme-color("border-dark");
    height: 6.125rem;

    .payment-icon {
        text-align: center;
        margin: 0px 1.5rem;
        width: 3rem;
        height: 100%;
        filter: grayscale(100%);
        opacity: 0.4;
        transition: all 0.3s ease 0s;

        img {
            max-height: 2.5rem;
            max-width: 100%;
        }

        &:hover {
            filter: none;
            opacity: 1;
        }
    }
}