.sport-category {
    + .sport-category {
        margin-left: 0.5rem;
    }

    a:hover {
        text-decoration: none !important;
        .sport-category-title {
            color: $white;
        }
    }

    .sport-category-image {
        padding: 1rem;
        background-color: theme-color("container-bg");
        border-radius: 25%;
        width: 3.5rem;
        height: 3.5rem;
    }

    .sport-category-title {
        color: theme-color("text-secondary");
        font-size: 0.6875rem;
        max-width: 3.5rem;
        text-align: center;
        line-height: 1rem;
        margin-top: 0.5rem;
        letter-spacing: -0.1px;
    }
}