$fa-font-path: "~font-awesome/fonts";

$body-bg: #232A33;

// $container-max-widths: (
//     sm: 540px,
//     md: 720px,
//     lg: 960px,
//     xl: 1240px
// );

$theme-colors: (
    "container-bg": #1A212A,
    "border-light": #474D52,
    "border-dark": #31373F,
    "text-secondary": #8697A2,
    "secondary": #31373F,
    "secondary-light": #4C5159,
    "primary": #0CD664,
    "primary-light": #66E59E,
);

// bootstrap headings
$h3-font-size: 1.25rem;
$headings-font-weight: 400;
$headings-color: $white;
$headings-line-height: 2rem;

// bootstrap class custom-select variables
$custom-select-color: theme-color("secondary");
$custom-select-bg: theme-color("container-bg");
$custom-select-border-color: theme-color("border-dark");
$custom-select-border-radius: 6.25rem;
$custom-select-focus-border-color: none;

// bootstrap class btn variables
$btn-font-weight: 600 !important;
$btn-line-height: 1.0625rem !important;
$btn-border-radius: 6.25rem !important;

$btn-font-size: 0.875rem;
$btn-padding-y: 0.5rem;
$btn-padding-x: 2rem;

$btn-padding-y-lg: 0.75rem;
$btn-padding-x-lg: 2.5rem;
$btn-font-size-lg: 1rem;


$grid-gutter-width: 1rem;

// Font weight
// $font-weight-semibold: 600;

// Font sizes
$font-size-sm: 0.75rem;
$font-size-md: 0.875rem;
$font-size-mlg: 1rem;
$font-size-lg: 1.25rem;
$font-size-xlg: 1.5rem;
$font-size-xxlg: 2rem;

// Override fonts
$font-family-sans-serif: 'Averta Std', sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

// Border ragius
// $border-radius-xlg: .5rem;
// $border-radius-xxlg: 1rem;


// Buttons
// $btn-border-radius: 10rem;
// $btn-padding-x: 1.25rem;